<%- include("../partials/header.ejs") -%>
<%- include("../partials/dashboard.ejs") -%>
<div class="dashboard">
   <div class="control" id="control">
      <a class="ui tiny button" href="/dashboard/listings" style="margin-bottom: 10px;"><i class="arrow left icon"></i> Back</a>
      <form class="ui form" style="margin-bottom: 0;" enctype="multipart/form-data" action="/dashboard/listings/<%-listing._id-%>?_method=PUT" method="POST">
         <h4 class="ui dividing header">Listing Info</h4>
         <div class="fields">
            <div class="three wide field">
               <label>Year</label>
               <input type="number" name="year" placeholder="Year" value="<%-listing.year-%>">
            </div>
            <div class="four wide field">
               <label>Make/Model</label>
               <input type="text" name="model" placeholder="Model" value="<%-listing.model-%>">
            </div>
            <div class="eight wide field">
               <label>Title</label>
               <input type="text" name="title" placeholder="Title" value="<%-listing.title-%>">
            </div>
            <div class="three wide field">
               <label>Price</label>
               <input type="number" name="price" placeholder="Price" value="<%-listing.price-%>">
            </div>
         </div>
         <div class="fields">
            <div class="four wide field">
               <label>Mileage</label>
               <input type="number" name="miles" placeholder="100000" value="<%-listing.miles-%>">
            </div>
            <div class="four wide field">
               <label>Engine</label>
               <input type="text" name="engine" placeholder="Engine" value="<%-listing.engine-%>">
            </div>

            <div class="four wide field">
               <label>Transmission</label>
               <div class="inline fields">
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input type="radio" name="trans" id="transAuto" value="Automatic" <%-listing.trans === 'Automatic' ? 'checked' : ''-%>>
                      <label for="transAuto">Automatic</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input type="radio" name="trans" id="transManual" value="Manual" <%-listing.trans === 'Manual' ? 'checked' : ''-%>>
                      <label for="transManual">Manual</label>
                    </div>
                  </div>
                </div>
            </div>

            <div class="four wide field">
               <label>Color</label>
               <input type="text" name="color" placeholder="Color" value="<%-listing.color-%>">
            </div>
         </div>
         <div class="field">
         <label>Description</label>
         <textarea type="text" name="description" placeholder="Description" style="min-height: 100px;"><%-listing.description-%></textarea>
         </div>
         <button class="ui positive button" type="submit">Save</button>
      </form>
      <form action="/dashboard/listings/<%-listing._id-%>?_method=DELETE" method="POST" style="margin-top: 5px;">
         <button class="ui negative button" type="submit">Delete</button>
      </form>
      <h4 class="ui dividing header">Images</h4>
      <div class="ui middle aligned divided  list">
         
         <% let i = 0 %>
         <% listing.images.forEach(image => { %>
            <div class="item">
              <div class="right floated content">
                <!-- <div class="ui basic button">Make Thumbnail</div> -->
                <!-- <div class="ui red button">Remove</div> -->
               <% if(i !== 0){ %>
               <form action="/dashboard/listings/<%-listing._id-%>/image/thumbnail?_method=PUT" method="POST" style="display: inline">
                  <input type="hidden" name="key" value="<%-i-%>">
                  <button class="ui icon button" type="submit"><i class="icon image outline"></i></button>
               </form>
               <% } %>
               <form action="/dashboard/listings/<%-listing._id-%>/image/remove?_method=PUT" method="POST" style="display: inline">
                  <input type="hidden" name="key" value="<%-i-%>">
                  <button class="ui red icon button"><i class="icon minus square"></i></button>
               </form>
              </div>
              <img class="ui avatar image" src="<%-image.Location-%>" style="border-radius: 0; width: unset;">
              <div class="content">
                <%-image.key-%>
              </div>
            </div>
            <% i++ %>
         <% }) %>
       </div>

      </div>
   </div>
</div>
<style>
   .dashboard{
      /* margin-left: 250px; */
      padding: 15px;
      width: 90%;
      margin: auto;
   }
   .control{
      padding: 15px;
      background-color: white;
      border-radius: 10px;
      margin-bottom: 15px;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.8);
   }
   .main-gallery{
      max-height: 350px;
      margin-bottom: 25px;
   }
   .gallery-cell{
      margin: auto 10px;
      max-height: 350px;
   }
   .gallery-cell img{
      border-radius: 10px;
      max-height: 350px;
   }
</style>
<script>
   document.querySelectorAll("#timestamp").forEach(el => {
      let time = new Date(el.innerHTML);
      el.innerHTML = time.toLocaleString()
   });
</script>
</body>
</html>